// 字体颜色变量
@font-color-1: #333;
@font-color-2: #555;
@font-color-3: #a0a0a0;
@font-color-4: #2074fd;
@font-color-5: #e5e5e5;
@font-color-6: #32b374;
@font-color-7: #ffd900;
@font-color-8: #999;
@font-color-9: #d5d5d5;
@font-color-10: #f54e4d;
@font-color-11: #999faf;
@font-color-12: #46b68f;
@font-color-13: #777;
@font-color-14: #ac9146;
@font-color-15: #ff5555;
@font-color-16: #b0b0b0;
@font-color-17: #e0e0e0;
@font-color-18: #f09054;
@font-color-19: #ff3b3b;
@font-color-20: #fea802;
@font-color-21: #34ba97;
@font-color-22: #1aa4ec;
@font-color-23: #e40065;
@font-color-24: #33bec3;
@font-color-25: #606266;
@font-color-26: #303133;
@font-color-27: #409eff;
@font-color-28: #79bbff;
@font-color-29: #a0cfff;
@font-color-30: #f56c6c;
@font-color-31: #f89898;
@font-color-32: #303133;
@font-color-33: #2691ff;
@font-color-34: #2f5664;
@font-color-35: #a6acad;

// 按钮颜色变量，按钮激活（或悬停）的颜色变量
@button-color-1: #2074fd;
@button-active-color-1: #0259e9;
@button-color-2: #f0f0f0;
@button-active-color-2: #dedede;
@button-color-3: #ff5b5b;
@button-active-color-3: #ff4141;
@button-color-4: #aaaaaa;
@button-color-5: #44c762;
@button-active-color-5: #38ba55;
@button-color-6: #6288f7;
@button-active-color-6: #4a76f6;
@button-color-7: #19be6b;
@button-active-color-7: #16a75e;
@button-color-8: #909399;
@button-active-color-8: #83868d;
@button-color-9: #ff9900;
@button-active-color-9: #e68a00;
@button-color-10: #e40065;
@button-active-color-10: #cb005a;
@button-color-11: #fff;
@button-active-color-11: #fff7fb;

// 背景色变量
@bg-color-1: #eef0f6;
@bg-color-2: #595e72;
@bg-color-3: #6f768e;
@bg-color-4: #4e5264;
@bg-color-5: #fee7a3;
@bg-color-6: #eadeee;
@bg-color-7: #34ba97;
@bg-color-8: #ff9d5b;
@bg-color-9: #ffa600;
@bg-color-10: #2074fd;
@bg-color-11: #f5f6fa;
@bg-color-12: #f7f7f9;
@bg-color-13: #5f94e0;
@bg-color-14: #ff6f6f;
@bg-color-15: #f56c6c;
@bg-color-16: #32b374;
@bg-color-17: #e6a23c;
@bg-color-18: #3581fd;
@bg-color-19: #f9f9f9;
@bg-color-20: #fafafa;
@bg-color-21: #1fd0a2;
@bg-color-22: #3c9cff;
@bg-color-23: #008cff;
@bg-color-24: #ffef00;
@bg-color-25: #2979ff;
@bg-color-26: #4aaccf;
@bg-color-27: #e40065;
@bg-color-28: #297aff;
@bg-color-29: #f5f5f5;
@bg-color-30: #5cbe7d;
@bg-color-31: #f5f7fa;
@bg-color-32: #26a6ff;
@bg-color-33: #fe3950;
@bg-color-34: #5ce055;

// 边框颜色变量
@border-color-1: #e0e0e0;
@border-color-2: #f0f0f0;
@border-color-3: #f3f3f3;
@border-color-4: #e5e5e5;
@border-color-5: #ccc;
@border-color-6: #2074fd;
@border-color-7: #c8c9cc;
@border-color-8: #38b3d4;
@border-color-9: #eef0f6;
@border-color-10: #ff3b3b;
@border-color-11: #fafafa;
@border-color-12: #f7f7f7;
@border-color-13: #e1deff;
@border-color-14: #f9f9f9;
@border-color-15: #3581fd;
@border-color-16: #ececec;
@border-color-17: #3c9cff;
@border-color-18: #ffa600;
@border-color-19: #333;
@border-color-20: #e40065;
@border-color-21: #b6cdf3;
@border-color-22: #ebeef5;
@border-color-23: #dcdfe6;
@border-color-24: #a6acad;